
html {
	position: relative;
}

.heading {
	font-family: 'Monoton', cursive;
	color: #92a8d1;
}
html, body {
	font-family: 'Averia Serif Libre', cursive;
	font-size:19px;
	color:white;
	background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;
}

 h2, h3, h4, h5, h6 {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	color: #92a8d1;
}

.namer {
	color:#92a8d1;
	font-family: 'Monoton', cursive;
}

/* .navie {
	background-color: gray;
background-image: linear-gradient(transparent 50%, rgba(255,255,255,.5) 50%);
background-size: 50px 50px;
	


} */


#contactHeader {
	display:inline-block;
	text-align:center;
	width:100%;
	margin-top:5px;
	margin-bottom:40px;
	color: #f7786b;
	font-family: 'Monoton', cursive;
}
.links {
	font-weight: 500;
	color: #92a8d1;
	font-family: 'Monoton', cursive;
}

.cageHolder {
	position: relative;
    text-align: center;
	color: white;
	margin:5px;
}

#portText {
	position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
	color:white;
	font-family: 'Averia Serif Libre', cursive;
}

#cage {
	height:550%;
	width: 55%;
	margin:20px;
}
#message {
	margin: 10px;
	
}

.sidebar {
	font-family: 'Monoton', cursive;
}

#submitButton {
	margin:10px;
	color:#f7786b;
	font-family: 'Monoton', cursive;
}
#messageTitle {
	margin:10px;
	color: #92a8d1;
	font-family: 'Averia Serif Libre', cursive;
}
a {
	color:#f7786b;
}

h1 {
	font-size: 2.2em;
	display:inline-block;
	font-weight:600;
}

h2 {
	font-size: 1.3em;
}


/* Header */
header {
	width: 100%;
	height: auto;
	border-bottom: 2px solid #cccccc;
	background-color: #ffffff;
}

header {
	width: 960px;
	margin: 0 auto;
	font-weight: 500;
}

/* Name */
.name {
	width: 50%;
}

.name, .navigate {
	display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

/* couldn't get float to work :-( */

.logo {
	display: inline-block;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	font-weight: bold;
	font-size: 2em;
	letter-spacing: 0.04em;
	background-color: #4aaaa5;
	color: #ffffff;
	padding: 1em;
	width: auto;
}

/* Navigation bar/links */
/* style choice- having 'Contact Nick' link with a margin/space to the right. I like this look more than when the 3 nav bar links are pushed all the way to the right (as is suggested in the example screenshots for the homewwork, but not a required style element) */ 
.navigate {
	width: 49%;
	text-align: right;
	color: #b1adb3;
	font-weight: normal;
}

.navigate ul li {
	display: inline-block;
	padding-left: 1em;
	margin-left: 1em;
}

.navigate ul li a {
	color: #b1adb3;
	text-decoration: none;
	transition: color .4s;
}

/* bonus hover functionality, change color for active page, hover page*/

.navigate ul li a:hover {
	color: #4aaaa5;
}

.navigate ul li a.active {
	color: #000000;
}

.navigate ul li+li {
	/* Adding divider using jackreichart.com resource (nice looking styling) */
    border-left: 1px solid #cccccc;
	border-width: 3px;
	border-color: #4aaaa5;
}


/* Main  content sections */
.content {
	width: 960px;
	clear: both;
	margin: 0 auto 8em auto;
	align-content: center;
}

.main {
	display: inline-block;
	width: 960px;
	margin: 45px 0;
	padding: 40px;
	background-color: #ffffff;
	border: 1px solid #dddddd;
}

.main h1 {
	font-size: 2em;
	font-weight: bold;
	padding-bottom: 1em;
	margin-bottom: 0.7em;
	border-bottom: 2px solid #dddddd;
}

.main p {
	font-size: 36pt;
	line-height: 1.5em;
	margin-bottom: 2em;
	font-family: 'Righteous', cursive;
	text-indent: 50px;
	
}

.summary {
	font-family: 'Averia Serif Libre', cursive;
}

p {
	font-size:16pt;
	font-family: 'Averia Serif Libre', cursive;
	text-indent: 50px;
}

/* My pic */
img.nutella {
	float: left;
	padding: 0 1em 1em 0;
	width: 200px;
	height: 200px;
	
}


/* Bills easter egg */
.bold {
    font-weight: bolder;
	color: #C8023A;
    background-color: #00308F;
}

/* Didnt' end up using in final styling */
.center {
    align-content: center;
}

/* Portfolio Page */
.portfolio-item {
	display: inline-block;
	position: relative;
	width: 400px;
	height: 400px;
	
}

/*bonus hover*/

.portfolio-item:hover {
	transform: rotate(-5deg) scale(1.05, 1.05);
}

.item-name {
	z-index: 400;
	position: relative;
	top: -100px;
	text-align: center;
	background-color: #4aaaa5;
	padding: 1em;
	color: #ffffff;
	width: 160px;
}

/* Contact Page */
.contact {
	width: 540px;
}

.contact label {
	display: block;
	padding-bottom: 0.5em;
}

/* Bills easter egg */
.egg {
	color: red; 
}

/* Contact form styling */
.contact input, .contact textarea {
	width: 927px;
	border: 1px solid #cccccc;
	margin-bottom: 1.6em;
	padding: 1em;
	font-size: .8em;
}
.contact input[type="submit"] {
	width: auto;
	background-color: #4aaaa5;
	color: #ffffff;
	border: none;
	padding: 1em 1.8em;
	font-size: 1em;
}
.footie {
	color:#f7786b;
	margin-top:40px;
	display:inline-block;
	text-align:center;
	font-family: 'Monoton', cursive;
	
}



.titler {
	margin-top:20px;
	color:#f7786b;
	text-align:center;
	font-family: 'Monoton', cursive;
}

/* Footer */
footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 2.8em;
	text-align: center;
	font-size: 0.8em;
	color: #f7786b;;
	background-color: #666666;
	border-top: 7px solid #4aaaa5;
}

